/* ====================== START GLOBAL ====================== */

/* FONTS */
@font-face {
  font-family: "Poppins";
  src: url("../siteFonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("../siteFonts/Poppins/Poppins-Bold.ttf");
  font-weight: bold;
}

/* VARIABLES */
:root {
  /* COLORS */
  --primary-color: #1a73e8;
  --second-color: #ffca2a;

  --light-color: #fff;
  --dark-color: #0e3048;
  --gray-color: #d3d9dd;

  --blue-light-color: #eff6ff;
  --blue-dark-color: #1a73e842;

  --body-color: #eff6ff;

  /* HOVER COLORS */
  --primary-hover: #1967d2;

  /* LINES COLORS */
  --gray-line-color: #8094a233;

  /* FONT SIZES */
  --h1-size: 40px;
  --h2-size: 32px;
  --h3-size: 28px;
  --h4-size: 24px;
  --h5-size: 20px;
  --h6-size: 16px;
  --h7-size: 14px;
  --h8-size: 12px;

  --template-font: 20px;

  /* WIDTH & HEIGHT */
  --header-height: 70px;

  /* ANIMATIONS */
  --transition-5: ease-in-out 0.5s;

  /* SHADOW */
  --shadow-1: 0 10px 0 #06162165;
}

@media (max-width: 600px) {
  :root {
    /* FONT SIZES */
    --h1-size: 35px;
    --h2-size: 28px;
    --h3-size: 23px;
    --h4-size: 20px;
    --h5-size: 18px;
    --h6-size: 14px;
    --h7-size: 12px;
    --h8-size: 10px;

    /* WIDTH & HEIGHT */
    --header-height: 50px;
  }
}

body {
  font-family: "Poppins", sans-serif;
  margin-top: var(--header-height);
  background-color: var(--body-color);
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--gray-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-hover);
}

a {
  display: block;
  text-decoration: none;
  color: var(--dark-color);
}

a:hover {
  color: var(--dark-color);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.form-control {
  border-color: var(--gray-line-color);
  font-size: var(--h7-size);
  padding: 15px 10px;
  background-color: var(--light-color);
  color: var(--dark-color);
}

.form-control:focus {
  box-shadow: -1px 0px 14px 0px rgb(26 115 232 / 14%) !important;
  border-color: var(--gray-line-color);
  background-color: var(--light-color);
  color: var(--dark-color);
}

.modal .modal-content {
  background-color: var(--light-color);
}

.modal .modal-content .modal-title {
  color: var(--dark-color);
  font-size: var(--h5-size) !important;
}

.modal .modal-content .btn-close {
  color: var(--dark-color);
  background-image: none;
  font-size: var(--h3-size);
}

.card {
  border-color: var(--gray-line-color);
  background-color: var(--light-color);
}

.text-warning {
  color: #ffcc00 !important;
}

.bg-warning {
  background-color: #ffcc00 !important;
}

.bg-warning-opacity {
  background-color: #fff7d768 !important;
}

.text-success {
  color: #10b981 !important;
}

.bg-success {
  background-color: #10b981 !important;
}

.bg-success-opacity {
  background-color: #dbfff37e !important;
}

.text-primary {
  color: var(--primary-color) !important;
}

.bg-primary {
  background-color: var(--primary-color) !important;
}

.bg-primary-opacity {
  background-color: #ddedff7c !important;
}

.btn {
  padding: 8px 15px;
  font-weight: bold;
  transition: var(--transition-5);
  font-size: var(--h7-size);
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.btn-xl {
  padding: 9px 50px;
  border-radius: 10px;
  font-size: var(--h5-size);
}

.btn-success {
  background-color: #10b981;
  border-color: #10b981;
}

.btn-success:hover {
  background-color: #08875c;
  border-color: #08875c;
}

.btn-primary {
  background: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.btn-primary:hover {
  background-color: var(--primary-hover);
  border-color: var(--primary-hover);
  box-shadow: -1px 0px 13px 0px rgb(26 115 232 / 44%) !important;
}

.page-title {
  font-weight: bold;
  font-size: var(--h1-size);
  color: var(--dark-color);
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  .page-title {
    font-size: var(--h2-size);
    margin-bottom: 10px;
  }
}

.section-title {
  font-weight: bold;
  font-size: var(--h2-size);
  color: var(--dark-color);
}

.accordion .accordion-button {
  font-size: var(--h6-size);
  background-color: var(--light-color);
}

.accordion .accordion-button .text {
  color: var(--dark-color);
  font-size: var(--h7-size);
}

.accordion .accordion-button .icon {
  position: absolute;
  right: 15px;
  color: var(--dark-color);
  font-size: var(--h7-size);
}

.accordion .accordion-button.collapsed .icon {
  transform: rotate(-180deg);
}

.accordion .accordion-body {
  font-size: var(--h6-size);
  background-color: var(--body-color);
  color: var(--dark-color);
  font-size: var(--h7-size);
}

.accordion-button:not(.collapsed)::after,
.accordion-button::after {
  background-image: none;
}

.accordion-item {
  border-color: var(--gray-line-color);
}

.accordion-button:not(.collapsed) {
  box-shadow: none;
  border-bottom: 1px solid var(--gray-line-color);
}

/* ====================== END GLOBAL ====================== */

/* ====================== START HEADER ====================== */

header .navbar {
  background-color: var(--light-color);
  height: var(--header-height);
  box-shadow: 0 0 10px var(--gray-line-color);
}

header .navbar-brand,
header .navbar-brand img {
  width: 180px;
}

@media (max-width: 600px) {
  header .navbar-brand,
  header .navbar-brand img {
    width: 120px;
  }
}

header .desktop-links .navbar-nav .dropdown-menu {
  position: absolute;
  right: 0;
  left: initial;
}

@media (max-width: 600px) {
  header .desktop-links .navbar-nav {
    display: none !important;
  }
}

header .logo,
header .logo img {
  width: 200px;
}

header a {
  color: var(--dark-color) !important;
  font-weight: bold;
}

header .desktop-links a:hover,
header .desktop-links a:focus {
  color: var(--dark-color);
}

header .desktop-links .navbar-nav .nav-link {
  font-size: var(--h7-size);
  display: flex;
  align-items: center;
  gap: 5px;
  height: calc(var(--header-height) - 15px);
  padding: 10px;
  border-radius: 5px;
  transition: var(--transition-5);
  font-weight: bold;
}

@media (min-width: 601px) {
  header .mobile-links,
  header .offcanvas-backdrop {
    display: none;
  }
}

header .mobile-links .nav-link.active,
header .mobile-links .nav-link:hover,
header .mobile-links .nav-link:focus,
header .desktop-links .navbar-nav .nav-link.active,
header .desktop-links .navbar-nav .nav-link:focus,
header .desktop-links .navbar-nav .nav-link:hover,
header .desktop-links .navbar-nav .dropdown-menu .dropdown-item.active,
header .desktop-links .navbar-nav .dropdown-menu .dropdown-item:hover {
  background-color: var(--blue-light-color);
  color: var(--dark-color);
}

header .desktop-links .navbar-nav .nav-link img.icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

header .desktop-links .navbar-nav .dropdown-menu {
  padding: 0;
  min-width: 250px;
  overflow: hidden;
  border-color: var(--gray-line-color);
  background-color: var(--light-color);
}

header .desktop-links .navbar-nav .dropdown-menu .dropdown-item {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: var(--transition-5);
}

header .mobile-links {
  background-color: var(--light-color);
}

header .mobile-links .nav-link {
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: var(--h7-size);
}

header .mobile-links .nav-link .icon,
header .mobile-links .nav-link i {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

header .navbar-toggler {
  border: none;
  width: 50px;
  height: calc(var(--header-height) - 15px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  background-color: var(--blue-light-color);
}

@media (max-width: 600px) {
  header .navbar-toggler {
    display: flex !important;
    height: calc(var(--header-height) - 15px);
  }
}

header .navbar-toggler span {
  width: 100%;
  height: 2px;
  border-radius: 20px;
  background-color: var(--dark-color);
  display: block;
}

header .mobile-links .offcanvas-header .btn-close {
  color: var(--dark-color);
  opacity: 1 !important;
  background-image: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--h3-size);
}

header .mobile-links .offcanvas-header .offcanvas-title {
  color: var(--dark-color);
}

header .language-toggle,
header .dark-mode-toggle {
  height: calc(var(--header-height) - 15px);
  width: 30px;
  /* border-radius: 5px; */
  cursor: pointer;
  font-size: var(--h5-size);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition-5);
  color: var(--dark-color);
}

@media (max-width: 600px) {
  header .language-toggle,
  header .dark-mode-toggle {
    width: 30px;
  }
}

header .language-toggle img {
  width: 25px;
}

@media (max-width: 600px) {
  header .language-toggle img {
    width: 20px;
  }
}

/* ====================== END HEADER ====================== */

/* ====================== START FOOTER ====================== */

footer {
  background-color: var(--dark-color);
}

.top-footer {
  border-bottom: 1px solid var(--gray-line-color);
  padding: 10px;
}

.top-footer .logo,
.top-footer .logo img {
  width: 250px;
}

@media (max-width: 600px) {
  .top-footer .links {
    gap: 8px !important;
    justify-content: center;
  }
}

.top-footer .links a {
  color: var(--light-color);
  font-size: var(--h7-size);
  transition: var(--transition-5);
}

.top-footer .links a:hover {
  color: var(--primary-color);
}

.bottom-footer {
  padding: 10px;
}

.bottom-footer .footer-text {
  color: var(--gray-color);
  font-size: var(--h7-size);
}

/* ====================== END FOOTER ====================== */

/* ******************************************* START MAIN CONTENT ******************************************* */
main {
  min-height: calc(100vh - var(--header-height));
}

main section {
  padding: 50px 0;
}

@media (max-width: 600px) {
  main section {
    padding: 30px 0;
  }
}

/* ====================== START HOME PAGE ====================== */

/* ==== START LOGIN SECTION ==== */

.login-section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - var(--header-height));
}

.login-section .login-title {
  font-size: var(--h1-size);
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--dark-color);
}

.login-section hr {
  color: var(--gray-line-color);
}

/* ==== END LOGIN SECTION ==== */

/* ==== START hero section ==== */
.hero-section h1 {
  font-weight: 700;
  font-size: calc(var(--h1-size) + 8px);
  color: var(--dark-color);
}

.hero-section .col p {
  font-size: var(--h4-size);
  line-height: 1.4;
  font-weight: 400;
  color: var(--dark-color);
  padding: 10px 0;
}

.hero-section .image {
  width: 450px;
}

.hero-section .image img {
  width: 100%;
  border-radius: 8px;
}

@media (max-width: 991px) {
  .hero-section .image {
    width: 350px;
  }
}

@media (max-width: 800px) {
  .col {
    display: block;
    margin: auto;
    text-align: center;
    align-items: center;
  }
  .hero-section h1 {
    font-size: var(--h3-size);
  }
  .hero-section p {
    font-size: var(--h7-size);
  }
  .hero-section .image {
    padding-top: 20px;
    width: 300px;
    margin: auto;
  }
}

/* ==== end hero section ==== */

/* ==== START Advantages section ==== */
.advantages-section {
  background-color: var(--light-color);
}

.advantages-section .adv-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3px;
}

.advantages-section .adv-card .adv-icon {
  border-radius: 10px;
  border: 3px solid;
  font-size: var(--h2-size);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .advantages-section .adv-card .adv-icon {
    width: 50px;
    height: 50px;
  }
}

.advantages-section .adv-card .adv-icon.blue {
  color: #3b82f6;
  border-color: #b5d5fc;
  background: #e4eefa;
}

.advantages-section .adv-card .adv-icon.green {
  color: #10b981;
  border-color: #9ff1cb;
  background: #e2fff1;
}

.advantages-section .adv-card .adv-icon.yellow {
  color: #f6a926;
  border-color: #ffe684;
  background: #faf5e1;
}

.advantages-section .adv-card h3 {
  color: var(--dark-color);
  font-weight: 500;
  font-size: var(--h4-size);
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
}

.advantages-section .adv-card p {
  color: var(--dark-color);
  font-size: var(--h7-size);
  opacity: 0.7;
  margin: 0;
}

/* ==== END Advantages section ==== */

/*  ==== START STATISTICS SECTION ==== */

section.statistics-section .card {
  position: relative;
  overflow: hidden;
  padding: 10px 0;
}

section.statistics-section .card .icon {
  position: absolute;
  left: 5px;
  bottom: -32px;
  z-index: -1;
  font-size: calc(var(--h1-size) * 2.5);
  opacity: 0.7;
}

section.statistics-section .card .text {
  font-size: var(--h7-size);
  font-weight: bold;
  color: var(--dark-color);
  margin-bottom: -12px;
}

section.statistics-section .card .count {
  font-weight: bold;
  font-size: calc(var(--h1-size) * 2);
  color: var(--dark-color);
  line-height: 1;
}

@media (max-width: 600px) {
  section.statistics-section .card .count {
    font-size: calc(var(--h1-size) * 1.5);
    line-height: 1.1;
  }
}

/*  ==== END STATISTICS SECTION ==== */

/*  ==== START Different Conbinations Section ==== */
.different-conbinations-section {
  background-color: var(--light-color);
}

.different-conbinations-section .conbinations-text {
  font-size: calc(var(--h5-size) - 2px);
  margin-bottom: 5px;
  opacity: 0.8;
  color: var(--dark-color);
}

.different-conbinations-section .conbinations-title {
  font-weight: bold;
  width: 220px;
  font-size: var(--h2-size);
  color: var(--primary-color);
}

@media (max-width: 600px) {
  .different-conbinations-section .conbinations-image img {
    width: 250px !important;
  }
}

/*  ==== END Different Conbinations Section ==== */

/* ==== START SUBSCRIPTION SECTION ==== */

.subscription-section .card {
  min-height: 480px;
}

.subscription-section .card-head .card-title {
  font-size: var(--h4-size);
  font-weight: bold;
  color: var(--dark-color);
}

.subscription-section .card-price .price .before-discount {
  color: var(--dark-color);
  opacity: 0.7;
  text-decoration: line-through;
  font-size: var(--h7-size);
}

.subscription-section .card-price .price .after-discount {
  font-size: var(--h7-size);
  padding: 4px 8px;
  border-radius: 20px;
}

.subscription-section .card-price .price .dollar {
  font-size: var(--h5-size);
  color: var(--dark-color);
}

.subscription-section .card-price .price .dollar span {
  font-size: calc(var(--h1-size) + 8px);
  font-weight: bold;
  display: block;
}

.subscription-section .card-price .subscripe-btn {
  width: 60%;
}

.subscription-section .card-list {
  border-top: 2px solid var(--gray-line-color);
  padding: 15px;
  margin-top: 30px;
}

.subscription-section .card-list .list-item {
  color: var(--dark-color);
  font-size: var(--h7-size);
  line-height: 2.5;
  display: flex;
  align-items: center;
  gap: 5px;
}

.subscription-section .card-list .list-item .icon {
  color: #08875c;
  font-size: var(--h6-size);
}

.subscription-section .card-list .list-item .icon.fa-times {
  color: #e11d58;
}

/* ==== END SUBSCRIPTION SECTION ==== */

/* ====================== END HOME PAGE ====================== */

/* ====================== START Frequent Section ====================== */
.frequent-section .card .question {
  font-weight: bold;
  color: var(--dark-color);
  font-size: var(--h3-size);
}

.frequent-section .card .answer {
  font-size: var(--h7-size);
  color: var(--dark-color);
  line-height: 1.8;
}

.frequent-section .card ul {
  list-style: unset;
  font-size: var(--h7-size);
  color: var(--dark-color);
  line-height: 1.8;
}

.frequent-section .card .description {
  color: var(--dark-color);
  font-size: var(--h7-size);
}
/* ====================== END Frequent Section ====================== */

/* ====================== START CREATE CV PAGE ====================== */

.create-cv-page {
  display: flex;
}

.create-cv-page .cv-form,
.create-cv-page .cv-preview {
  flex: 1;
  padding: 15px;
}

.create-cv-page .cv-form {
  background-color: var(--light-color);
  overflow-y: auto;
}

.create-cv-page .cv-form section {
  padding-top: 10px;
  padding-bottom: 20px;
}

.create-cv-page .cv-form .section-title {
  font-size: var(--h3-size);
  margin-bottom: 30px;
  position: relative;
  padding-left: 20px;
  background-color: var(--blue-light-color);
}

.create-cv-page .cv-form .section-title::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 8px;
  height: 100%;
  background-color: var(--primary-color);
}

.create-cv-page .cv-form .row {
  gap: 7px 0;
}

.form-uploader-item label.form-uploader-label {
  cursor: pointer;
  width: 150px;
  height: 150px;
  border: 1px dashed var(--primary-color);
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--h8-size);
  color: var(--primary-color);
  font-weight: bold;
  transition: var(--transition-5);
}

.form-uploader-item label.form-uploader-label:hover {
  background-color: var(--blue-light-color);
}

.form-uploader-item label.form-uploader-label .content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-uploader-item label.form-uploader-label .content .icon {
  font-size: var(--h1-size);
}

.form-uploader-item input.form-uploader {
  display: none;
}

.create-cv-page .cv-form .form-item label {
  font-weight: bold;
  font-size: var(--h8-size);
  color: var(--dark-color);
  margin-bottom: 5px;
}

.create-cv-page .cv-form .add-more:hover {
  opacity: 0.7;
}

.create-cv-page .cv-form .add-more {
  font-size: var(--h7-size);
  outline: none;
  border: none;
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  padding: 10px;
  color: var(--primary-color);
  font-weight: bold;
  background-color: var(--blue-light-color);
  border-radius: 5px;
  transition: var(--transition-5);
}

.create-cv-page {
  max-height: calc(100vh - var(--header-height));
  overflow: hidden;
}

.create-cv-page .cv-preview #template {
  background-color: var(--light-color);
  width: 70%;
  height: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-cv-page .cv-preview .actions {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* ====================== END CREATE CV PAGE  ====================== */

/* ====================== START DOWNLOAD PAGE  ====================== */

.download-page {
  margin-top: 100px;
}

.download-page .actions {
  width: 1000px;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.download-page .actions select {
  max-width: 100px;
}

.template-view {
  width: 800px;
  min-height: 1102px;
  background-color: #fff;
  margin: auto;
  margin-bottom: 20px;
  padding: 50px;
  user-select: none;
  overflow: hidden;
  position: relative;
}

.template_name {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  position: relative;
}

.template_sec-title {
  font-size: 20px;
  font-weight: bold;
  color: #1a73e8;
}

.template_text {
  font-size: 14px;
  background-color: #1a73e8;
  color: #fff;
  padding: 10px;
}

/* ====================== END DOWNLOAD PAGE  ====================== */

/* ******************************************* END MAIN CONTENT ******************************************* */
